html {
    font-family: Verdana, sans-serif;
    background-color: #1e1e1e;
    color: #ccc;
    line-height: 1.5em;
}

body {
    margin: 0;
}

.article-preview {
    height: 100px;
    width: 500px;
}

.article-preview:hover {
    background-color: #383838;
}

.article-menu a {
    color: #ccc;
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner {
    background-color: #383838;
    text-align: left;
    padding-left: 20px;
}

img {
    max-width: 100%;
}

.center {
    text-align: center;
}

#article {
    margin-left: 10em;
    margin-right: 10em;
}

@media (max-width: 1000px) {
    #article {
        margin-left: 0;
        margin-right: 0;
    }
}