html {
    font-family: Verdana, sans-serif;
    background-color: #1e1e1e;
    color: #ccc;
    line-height: 1.5em;
}

body {
    margin: 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-preview {
    height: 100px;
    width: 2000px;
}

@media (max-width: 2000px) {
    .article-preview {
        width: 100vw;
    }
}

.article-preview:hover {
    background-color: #383838;
}

.article-menu {
    margin-top: 50px;
}

.article-menu a, #banner a {
    color: #ccc;
    text-decoration: none;
}

.article-menu a:hover, #banner a:hover {
    color: pink;
}

#banner {
    height: 50px;
    justify-content: left;
}


#banner {
    background-color: #383838;
    text-align: left;
    padding-left: 20px;
}

img {
    max-width: 100%;
}

.center {
    text-align: center;
}

#article {
    margin-left: 10em;
    margin-right: 10em;
}

#article a {
    color: pink;
}

#article a:hover {
    color: #ff94a6;
}

@media (max-width: 1000px) {
    #article {
        margin-left: 0;
        margin-right: 0;
    }
}