{% extends 'base.html.twig' %}

{% block content %}
    <div id="banner" class="flex">
        <a href="/">Main Page</a>
    </div>
    <div id="article">
        {{ article | raw }}
    </div>
{% endblock %}