{% extends 'base.html.twig' %}

{% block content %}
    <a href="https://katsis.net" id="back-to-main">
        <img src="/img/logo.svg"/>
    </a>
    {% for article in articles %}
    <div class="flex center article-menu">
        <a href="/{{ article.id }}">
            <div class="article-preview flex">
                <div class="article-img-container flex">
                    <img src="/{{ article.metadata.preview }}" alt="Article preview"/>
                </div>
                <div>
                    <h2>{{ article.metadata.name }}</h2>
                    <p>
                        {{ article.metadata.description }}
                    <p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
{% endblock %}