{% extends 'base.html.twig' %}

{% block content %}
    {% for article in articles %}
    <div class="flex center article-menu">
        <a href="?article={{ article.id }}">
            <div class="article-preview flex">
                <div>
                    <h2>{{ article.metadata.name }}</h2>
                    <p>
                        {{ article.metadata.description }}
                    <p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
{% endblock %}