{% extends 'base.html.twig' %}

{% block content %}
    {% for article in articles %}
    <div class="flex center">
        <a href="?article={{ article.id }}">
            <div class="article-preview flex">
                <div class="flex">
                    {{ article.metadata.name }}
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
{% endblock %}