{% extends 'base.html.twig' %}

{% block content %}
    {% for article in articles %}
    <div class="flex">
        <div class="article-preview flex">
            <a href="?article={{ article.id }}">
                <div class="flex">
                    {{ article.metadata.name }}
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
{% endblock %}